.header img{
    height: 80px;
}
.header{
    text-align: center;
}
.nav{
    background-color: rgb(14, 70, 9);
    line-height: 40px;
    font-size: 20px;
}
.nav a{
  text-decoration: none;
  color:white;
  margin-right: 50px;
  padding: 5px;
}
.nav a:hover{
  background-color: gray;
}
.head{
  color: rgb(14, 70, 9);
}
.search1{
  border-radius: 15px;
  border-color: black;
  padding-left: 20px;
}
.hb{
  margin-left: 1100px;
  margin-top: 20px;
  background-color: rgb(14, 70, 9);
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}
